extends layout

block content
  div(class='container')
    div(class='row')
      div(class='col-md-8 col-md-offset-2 text-center')
        h1 hello there
        p Welcome to #{title}
        
    div(class='row')
      div(class='col-md-8 col-md-offset-2')
        h2(class='col-md-12') this is the question text
        div(class='col-md-12')
          div(class='col-md-12')
            p upVotes
            p downVotes
          div(class='col-md-12')
            p this is an answer
    
    
    