extends layout

block content
  div(class='container')
    div(class='row')
      div(class='col-md-8 col-md-offset-2 text-center')
        h1 let's talk about it...
        p Welcome to #{title}
        
    div(class='row')
      div(class='col-md-8 col-md-offset-2')
        h2(class='col-md-12 question') this is the question text
        
        div(class='col-md-12 answer')
          div(class='col-md-1')
            span(class='glyphicon glyphicon-chevron-up vote-button')
            span(class='glyphicon glyphicon-chevron-down vote-button')
          div(class='col-md-11')
            div(class='col-md-11 votes')
              div(class='col-md-3')
                p(class='up-votes') upVotes
              div(class='col-md-3')
                p(class='down-votes') downVotes
            div(class='col-md-11')
              p this is an answer
              
        div(class='col-md-12 answer')
          div(class='col-md-1')
            span(class='glyphicon glyphicon-chevron-up vote-button')
            span(class='glyphicon glyphicon-chevron-down vote-button')
          div(class='col-md-11')
            div(class='col-md-11 votes')
              div(class='col-md-3')
                p(class='up-votes') upVotes
              div(class='col-md-3')
                p(class='down-votes') downVotes
            div(class='col-md-11')
              p this is another answer
              
        div(class='col-md-12 answer')
          div(class='col-md-1')
            span(class='glyphicon glyphicon-chevron-up vote-button')
            span(class='glyphicon glyphicon-chevron-down vote-button')
          div(class='col-md-11')
            div(class='col-md-11 votes')
              div(class='col-md-3')
                p(class='up-votes') upVotes
              div(class='col-md-3')
                p(class='down-votes') downVotes
            div(class='col-md-11')
              p this would be the last answer
              
        div(class='col-md-12 new-answer')
          div(class='input-group')
            input(type='text', class='form-control', placeholder='what do you think?')
            span(class='input-group-btn')
              button(type='button', class='btn btn-success') answer