extends layout

block content
  div(class='container questions-and-answers')
        
    div(class='row')
      div(class='col-md-8 col-md-offset-2 question')
        div(class='col-md-10')
          h2(class='col-md-12', id='currentQuestionText')
        div(class='col-md-2')
          span(class='countdown-timer')
                      
        div(class='col-md-12 new-answer')
          div(class='input-group')
            input(type='text', class='form-control', id='newAnswer', placeholder='what do you think?')
            span(class='input-group-btn')
              button(type='button', class='btn btn-success', id='addAnswer') answer
          span(class='help-block error-block')
              
              
    div(class='row')
      div(class='col-md-8 col-md-offset-2 new-questions')
        h4(class='col-md-10') vote on the next question, or ask the world a new one...
              
        div(class='col-md-12 new-question-add')
          div(class='input-group')
            input(type='text', class='form-control', id='newQuestion', placeholder="what's on your mind?")
            span(class='input-group-btn')
              button(type='button', class='btn btn-success', id='addQuestion') ask
          span(class='help-block error-block')