extends layout

block content
  div(class='container')
    div(class='row')
      div(class='col-md-8 col-md-offset-2 text-center')
        h1 let's talk about it...
        
    div(class='row')
      div(class='col-md-8 col-md-offset-2 question')
        div(class='col-md-10')
          h2(class='col-md-12', id='currentQuestionText')
        div(class='col-md-2')
          span(class='countdown-timer') 01:34
                      
        div(class='col-md-12 new-answer')
          div(class='input-group')
            input(type='text', class='form-control', placeholder='what do you think?')
            span(class='input-group-btn')
              button(type='button', class='btn btn-success') answer
              
              
    div(class='row')
      div(class='col-md-8 col-md-offset-2 new-questions')
        h4(class='col-md-10') vote on the next question, or ask the world a new one...
              
        div(class='col-md-12 new-question-add')
          div(class='input-group')
            input(type='text', class='form-control', placeholder="what's on your mind?")
            span(class='input-group-btn')
              button(type='button', class='btn btn-success') ask