doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    
    nav(class='navbar navbar-default navbar-fixed-top')
      div(class='container')
        div(class='navbar-header')
          a(class='navbar-brand', href='#') 
            img(class='site-header-logo', src='/images/shallwediscuss.png', style='display: inline-block')
            p(class='site-header-text') Worldly Discussions
    
  
    block content