extends layout

block content
  div(class='container archive')
    div(class='col-md-6 col-md-offset-3 req-question')
      p= questionText
      p(class='date')= dateAsked
    div(class='col-md-6 col-md-offset-3 best-answer')
      p= answerText
      p(class='archive-votes')= answerUpVotes
      
  script(src='/javascripts/jquery-1.11.3.min.js')