extends layout

block content
  div(class='container archive')
    div(class='col-md-6 col-md-offset-3')
      p(class='question')= questionText
      p(class='question-date')= dateAsked
    div(class='col-md-6 col-md-offset-3')
      p(class='answer')= answerText
      p(class='answer-votes')= answerUpVotes