body {
  padding-top: 50px;
  padding-bottom: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.site-header-logo {
  max-width: 40px;
  margin-top: -10px;
  margin-right: 15px;
}

.site-header-text {
  display: inline-block;
}

.questions-and-answers {
  margin-top: 10px;
}

.no-display {
  display: none;
}

a {
  color: #00B7FF;
}

.object-id {
  display: none;
}

.question h2 {
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #DDDDDD;
}

.countdown-timer {
  font-size: xx-large;
  color: darkgray;
}

.voting-item {
  color: darkgray;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #DDDDDD;
  padding: 4px;
  margin: 4px;
}

.vote-button {
  font-size: x-large;
  cursor: pointer;
  margin-top: 4px;
  margin-bottom: 4px;  
}

.selected {
  color: darkorange;
}

.votes {
  font-weight: bold;
}

.up-votes {
  color: blue;
}

.down-votes {
  color: darkred;
}

.new-answer {
  margin-top: 20px;
}

.new-questions {
  color: gray;
  margin-top: 30px;
}

.new-questions h4 {
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #DDDDDD;
}

.new-question-add {
  margin-top: 20px;
}