body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.answer {
  color: darkgray;
}

.answer .votes {
  font-weight: bold;
}

.answer .up-votes {
  color: blue;
}

.answer .down-votes {
  color: darkred;
}