body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.question h2 {
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #DDDDDD;
}

.answer {
  color: darkgray;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #DDDDDD;
  padding: 4px;
  margin: 4px;
}

.answer .vote-button {
  font-size: x-large;
  cursor: pointer;
  margin-top: 4px;
  margin-bottom: 4px;  
}

.selected {
  color: darkorange;
}

.answer .votes {
  font-weight: bold;
}

.answer .up-votes {
  color: blue;
}

.answer .down-votes {
  color: darkred;
}

.new-answer {
  margin-top: 20px;
}